REACT_APP_API_KEY = 'AIzaSyAnzlzMUK31x4qirPhmX5ZWNnImvT96fkU'
REACT_APP_AUTH_DOMAIN = 'timetable-cheduler.firebaseapp.com'
REACT_APP_DATABASE_URL = 'DATABASE_URL'
REACT_APP_PROJECT_ID = 'timetable-cheduler'
REACT_APP_STORAGE_BUCKET = 'timetable-cheduler.firebasestorage.app'
REACT_APP_SENDER_ID = '525367534426'
REACT_APP_APP_ID = '1:525367534426:web:61a3281e837b4a101d8963'

GENERATE_SOURCEMAP=false